{{!-- COMMENTED OUT, USING HARD DATA FOR NOW --}}
<div id="sidebar" class="col-md-4">
	<div id="sidebar-text">
		<img src="{{user.profilePic}}"></img>
		<h2>{{user.firstName}} {{user.lastName}}</h2>
		<p>{{user.gender}}, born {{user.birthday}}</p>
		<p>Location: {{#if user.location}}
						{{user.location}}
					{{else}}
						<span>?</span>
					{{/if}}</p>
		<p>Interested in: {{#if user.sexualPref}}
						{{user.sexualPref}}
					{{else}}
						<span>?</span>
					{{/if}}</p>
		<p>Status: {{#if user.status}}
						{{user.status}}
					{{else}}
						<span>What are you currently watching?</span>
					{{/if}}</p>
	</div>
	{{#ifUser user currentUser}}
	<div id="sidebar-buttons">
		<a href="/users/{{user._id}}/edit" class="btn btn-default" id="edit-profile-button">Edit My Profile</a>
	</div>
	{{/ifUser}}
</div>

