<div class="container">
<div class="row">
	<div id="sidebar" class="col-md-4">
		<img src="{{otherUser.profilePic}}">
		<div id="sidebar-text">
			<h2>{{otherUser.firstName}} {{otherUser.lastName}}</h2>
			<p>{{otherUser.gender}}, born {{otherUser.birthdate}}</p>
			<p>Location: {{otherUser.location}}</p>
		</div>
	</div>

	<div id="other-user-div">
		<div id="other-user-common-likes" class="col-md-8">
			<h2>You and {{user.firstName}} both like:</h2>
			<div class="movies-grid">
				{{#each commonLikes}}
					<div class="movie-div">
						<img src="{{imageUrl}}" class="movie-image">
						<a href="omdbUrl" class="movie-name"><p>{{title}}</p></a>
						<p>{{yearOfRelease}}</p>
						<p>{{plot}}</p>
					</div>
				{{/each}}
			</div>
		</div>
		<div id="other-user-likes" class="col-md-8">
			<h2>See all of {{otherUser.firstName}}'s favorites here:</h2>
			<div class="movies-grid">
				{{#each otherUser.likes}}
					<div class="movie-div">
						<img src="{{imageUrl}}" class="movie-image">
						<a href="omdbUrl" class="movie-name"><p>{{title}}</p></a>
						<p>{{yearOfRelease}}</p>
						<p>{{plot}}</p>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
</div>